@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bucklane+Script&display=swap');
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
* {
    margin: 0px;
    padding: 0px;
}

::after,
::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

::selection {
    background: var(--select-bg);
    @apply text-white;
}

body {
    // font-family: "Montserrat", sans-serif;
    font-size: 14px;
    background: var(--bg-color);
}

:root {
    --bg-color: #fff;
    --select-bg: #a2387d;
}

.top-header {
    background: linear-gradient(90deg, #263885 40%, #60a35d 100%)
}

.custom-arrow {
    @apply text-xs;
    font-size: 1rem !important;
}

.custom-icon {
    width: 55px;
    height: 55px;
}

.slick-slide {
    opacity: 1 !important;
    visibility: visible !important;
}

.slick-slide.slick-cloned {
    opacity: 1 !important;
}

.info-grid {
    .slick-dots {
        li {
            margin: 0px;
            button {
                &::before {
                    @apply text-green-300 text-xs;
                }
            }
            &.slick-active {
                button {
                    &::before {
                        @apply text-green-800;
                    }
                }
            }
        }
    }
}

.file-upload-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    font-family: sans-serif;
}

.file-upload {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px 15px;
    background-color: #f1f1f1;
    border: 2px dashed #ccc;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.file-upload:hover {
    background-color: #e1e7f0;
    border-color: #007bff;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload-text {
    font-size: 14px;
    color: #555;
}

.file-preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.hero-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    .bg-video {
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}

.info-ab-bg {
    position: relative;
    background: url('./assets//images/about-bg.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-clip: padding-box;
    .info-ab-ex {
        font-family: "Just Another Hand", cursive;
    }
}

.info-ab-ex {
    font-family: "Just Another Hand", cursive;
}

.info-cmn-sub-font {
    h5 {
        span {
            font-family: "Just Another Hand", cursive;
        }
    }
}

.info-amenities {
    position: relative;
}

.info-amenities .ame-img {
    content: '';
    position: absolute;
    background: rgb(60 85 124 / 80%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide {
    position: relative;
}

.slide .slide__img {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./assets/images/hyderabad.jpg) no-repeat;
    background-size: cover;
    object-fit: cover;
}

.slide .slide__img2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./assets/images/warangal.png) no-repeat;
    background-size: cover;
    object-fit: cover;
}

.slide .slide__img3 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./assets/images/nagarjuna-sagar.png) no-repeat;
    background-size: cover;
    object-fit: cover;
}

.slide .slide__img4 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./assets/images/ananthagiri-hills.png) no-repeat;
    background-size: cover;
    object-fit: cover;
}

.slide .slide__img5 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./assets/images/somasilla.png) no-repeat;
    background-size: cover;
    object-fit: cover;
}

.slide .slide__img6 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./assets/images/Pochampally.png) no-repeat;
    background-size: cover;
    object-fit: cover;
}

.slide .slide__img7 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./assets/images/bhadrachalam.png) no-repeat;
    background-size: cover;
    object-fit: cover;
}

.slide .slide__img8 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./assets/images/nallamalla.png) no-repeat;
    background-size: cover;
    object-fit: cover;
}

.slide .slide__img9 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./assets/images/nagarjuna-sagar.png) no-repeat;
    background-size: cover;
    object-fit: cover;
}

@media (min-width: 992px) {
    .slide .slide__img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 100vh;
    }
}

.slide .slide__img img {
    max-width: 100%;
    height: auto;
    opacity: 1 !important;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    transition: all 1s ease;
}

.slide {
    position: absolute;
    content: '';
    background: rgb(26 55 94 / 50%);
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
}

.slide .slide__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.slide .slide__content .info-amenities {
    position: relative;
}

.slide .slide__content .info-amenities h2 {
    font-family: 'Zolina';
    text-align: left;
}

.slide .slide__content .info-ame-des {
    background: var(--our-home-bg);
    padding: 20px 30px;
}

.slide .slide__content .info-ame-des p {
    font-optical-sizing: auto;
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.slide .slide__content .ame-img-box {
    width: 100%;
    border: solid 1px #000;
    margin-bottom: 25px;
}

.slide .slide__content.slide__content__left {
    left: 15%;
    transform: translate(-15%, -50%);
}

.slide .slide__content.slide__content__right {
    right: 15%;
    left: auto;
    transform: translate(5%, -50%);
}

.slide .slide__content--headings {
    color: #FFF;
}

.slide .slide__content--headings h2 {
    // font-size: 4.5rem;
    // margin: 10px 0;
}

.slide .slide__content--headings .animated {
    transition: all 0.5s ease;
}

.slide .slide__content--headings .top-title {
    font-family: "Playball", cursive;
    font-size: 2.5rem;
}

.slide .slide__content--headings .title {
    font-size: 3.5rem;
}

.slide .slide__content--headings .button-custom {
    text-decoration: none;
    color: #333;
    padding: 1.2rem 2.5rem;
    font-size: 1.5rem;
}

.slide .slide__content .info-ame-des h4 {
    font-family: 'Montserrat';
    font-weight: 900;
    color: rgb(61, 88, 69);
    text-transform: uppercase;
}

.ame-slider [data-animation-in] {
    opacity: 0;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    transition: opacity 0.5s ease 0.3s;
}

.slick-dotted .slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    display: block;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.simple-dots .slick-dots li {
    width: 20px;
    height: 20px;
}

.simple-dots .slick-dots li button {
    border-radius: 50%;
    background-color: white;
    opacity: 0.25;
    width: 20px;
    height: 20px;
}

.simple-dots .slick-dots li button:hover,
.simple-dots .slick-dots li button:focus {
    opacity: 1;
}

.simple-dots .slick-dots li.slick-active button {
    color: white;
    opacity: 0.75;
}

.stick-dots .slick-dots li {
    height: 3px;
    width: 50px;
}

.stick-dots .slick-dots li button {
    position: relative;
    background-color: white;
    opacity: 0.25;
    width: 50px;
    height: 3px;
    padding: 0;
}

.stick-dots .slick-dots li button:hover,
.stick-dots .slick-dots li button:focus {
    opacity: 1;
}

.stick-dots .slick-dots li.slick-active button {
    color: white;
    opacity: 0.75;
}

.stick-dots .slick-dots li.slick-active button:hover,
.stick-dots .slick-dots li.slick-active button:focus {
    opacity: 1;
}

.slick-slider {
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
    padding: 0px;
}

@media (min-width: 992px) {
    .slide {
        height: 100vh;
    }
}

@media (max-width: 767px) {
    .slider {
        padding: 0px 40px;
    }
}

.slider .slick-arrow {
    padding: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    bottom: 40px;
    margin: auto;
    border: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    z-index: 99;
    font-family: "Font Awesome 6 Free";
    background: transparent;
    color: rgb(255, 255, 255);
    border: solid 1px;
    left: 0;
}

.slider .slick-arrow.slick-prev {
    font-size: 0;
    right: 92%;
}

.slider .slick-arrow.slick-prev::before {
    content: '\f177';
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    font-size: 20px;
}

.slider .slick-arrow.slick-next {
    font-size: 0;
    left: 92%;
}

.slider .slick-arrow.slick-next::before {
    content: '\f178';
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    font-size: 20px;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.slider__item {
    padding: 0px 15px;
}

.slider__item img {
    max-width: 100%;
}


/* end */

.info-footer {
    .info-ul {
        li {
            display: flex;
            gap: 15px
        }
    }
}

.list-info {
    li {}
}

.info-faq-bg {
    position: relative;
    background: url('./assets//images/about-bg.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-clip: padding-box;
}

.info-welcome {
    h2 {
        font-family: 'Bucklane Script PERSONAL USE';
    }
}

@font-face {
    font-family: 'Bucklane Script PERSONAL USE';
    src: url(./assets/fonts/BucklaneScriptPERSONALUSE-Regular.woff) format('woff'), url(./assets/fonts/BucklaneScriptPERSONALUSE-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;